/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

/*  General Reset    */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
}

picture,
img,
svg {
    max-width: 100%;
}

html {
    font-size: 62.5%;
}


:root {
    /*    colors    */
    --clr-black: 0 0% 0%;
    --clr-text-dark: 0 0% 31%; /* #4F4F4F */
    --clr-text-light: 0 0% 20%; /* #333333 */
    --clr-gray: 0 0% 74%; /* #BDBDBD */
    --clr-border: 0 0% 51%;
    --clr-orange: 28 87% 62%;
    --clr-white: 0 0% 100%;

    /*    Font Family   */
    --ff-playfair: 'Playfair Display', serif;
    --ff-montserrat: 'Montserrat', sans-serif;

    /*    Font Weight   */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /*   Font Size   */
    --fs-100: 0.8rem;
    --fs-200: 1rem;
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.6rem;
    --fs-600: 1.8rem;
    --fs-700: 2.4rem;
    --fs-900: 4.8rem;
}

.container {
    max-width: 100rem;
    margin-inline: auto;
}

.flex {
    display: flex;
    gap: var(--flex-gap, 1.5rem);
}

body {
    font-size: var(--fs-500);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-black));
    padding-inline: 2rem;
}

/*region Header*/
header {
    margin-block: clamp(3rem, 7vw, 5rem) clamp(2rem, 5vw, 3rem);
}

header h1 {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    font-family: var(--ff-playfair);
    margin-bottom: 1rem;
}

.six-dots {
    flex-shrink: 0;
}

header p {
    font-style: italic;
    color: hsl(var(--clr-text-dark));
    font-size: var(--fs-300);
    line-height: 15px;
}

/*endregion*/


/*region Hero image*/
.hero-img {
    margin-bottom: clamp(2.5rem, 7vw, 4.5rem);
}

/*endregion*/


/*region Instructions*/
.instructions-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*endregion*/


/*region prep-info*/

.prep-info {
    --flex-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.yield {
    width: 100%;
}

.prep-info > div {
    --flex-gap: 1rem;
    align-items: center;
}

.prep-info img {
    width: 2rem;
    height: 2rem;
    vertical-align: sub;
}

.prep-info p {
    font-size: var(--fs-200);
    color: hsl(var(--clr-text-light));
    font-weight: var(--fw-500);
}

.prep-info .meal-topic {
    font-size: var(--fs-100);
    color: hsl(var(--clr-gray));
    text-transform: uppercase;
}

.prep-info .accent {
    color: hsl(var(--clr-orange));
}

/*endregion*/


/*region Instruction Section*/

/*region Ingredient section*/

.ingredients {
    margin-bottom: 3rem;
}

.ingredients > h2 {
    font-size: var(--fs-600);
    color: hsl(var(--clr-text-light));
    line-height: 24px;
    font-weight: var(--fw-700);
    font-family: var(--ff-playfair);
}

.ingredient-type-1 {
    margin-block: clamp(1rem, 5vw, 4rem) 4rem;
}

.ingredient-type-1 > h3,
.ingredient-type-2 > h3{
    font-size: var(--fs-500);
    color: hsl(var(--clr-text-light));
    font-family: var(--ff-playfair);
    font-style: italic;
    margin-bottom: clamp(2.5rem, 3vw, 3rem);
}

.ingredient-type-1-list li,
.ingredient-type-2-list li {
    --input-spacing: 3rem;

    font-size: var(--fs-400);
    color: hsl(var(--clr-text-light));
    line-height: 25px;
    margin-bottom: clamp(0.8rem, 2vw, 1.2rem);

    margin-left: var(--input-spacing);
}

.ingredients label {
    cursor: pointer;
}

/* aligning text vertically */
input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-left: calc(var(--input-spacing) * -1);
    margin-right: 1rem;

    accent-color: hsl(var(--clr-orange));
    cursor: pointer;
}

.highlight {
    font-weight: var(--fw-700);
}

.m-italic {
    font-style: italic;
}

.m-italic span {
    font-style: normal;
}

/*endregion*/

/*endregion*/


/*region Directions section*/

.directions {
    margin-bottom: clamp(2.5rem, 7vw, 5.5rem);
}

.directions h2 {
    font-size: var(--fs-700);
    color: hsl(var(--clr-text-light));
    font-weight: var(--fw-700);
    font-family: var(--ff-playfair);
    margin-bottom: 2.5rem;
}

.instructions-list {
    list-style: none;
    counter-reset: step-counter;
    padding-right: 2rem;
}

.instructions-list li {
    --input-spacing: 5rem;
    counter-increment: step-counter;
    margin-left: var(--input-spacing);

    margin-bottom: 3rem;
    font-size: var(--fs-500);
    line-height: 24px;
}

.instructions-list li::before {
    content: counter(step-counter);
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: hsl(var(--clr-orange));
    color: hsl(var(--clr-white));
    font-family: var(--ff-playfair);
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    margin-left: calc(var(--input-spacing) * -1);
    margin-right: 1rem;

    position: relative;
    top: 1.5rem;
}

/*endregion*/

/*region Source*/
.source {
    font-size: var(--fs-300);
    color: hsl(var(--clr-gray));
    font-style: italic;
    white-space: pre-line;
}
/*endregion*/

/*region Attribution*/

.attribution  {
    margin-block: 10rem 3rem;
    font-size: var(--fs-400);
    color: hsl(var(--clr-border));
    text-align: center;
}

.attribution a {
    font-weight: var(--fw-700);

}

/*endregion*/


@media (min-width: 45em) {
    /*region Header*/
    header h1 {
        font-size: var(--fs-900);
    }

    header p {
        font-size: var(--fs-400);
        max-width: 60ch;
        line-height: 17px;
    }
    /*endregion*/

    .instructions-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /*region Prep info*/
    .prep-info {
        --flex-gap: 4rem;
        flex-direction: column;
        align-self: flex-start;
        align-items: flex-start;
        padding: 5rem 4rem;
        box-shadow: 0 0 5px 0 hsl(var(--clr-black) / 0.2);
        border-radius: 0.8rem;
    }

    .prep-info > div {
        --flex-gap: 1.5rem;
    }

    .prep-info  p {
        font-size: var(--fs-400);
    }

    .prep-info .meal-topic {
        font-size: var(--fs-200);
    }
    /*endregion*/

    .instructions {
        max-width: 55ch;
    }

    .ingredients > h2 {
        font-size: var(--fs-700);
    }

    .ingredient-type-1 > h3,
    .ingredient-type-2 > h3 {
        font-size: var(--fs-600);
    }

    .ingredient-type-1-list li,
    .ingredient-type-2-list li {
        font-size: var(--fs-500);
    }

    /*region source*/
    .source {
        font-size: var(--fs-500);
        white-space: initial;
    }
    /*endregion*/
}